{% extends "base.html"%}
{% load static %}

{% block content %}

        {% for info in infos %}
            <div class="logi">
                <h2>
                    {{ info.first_name }} </br>
                    {{ info.last_name }}
                </h2>
                <p class="opis">
                    Zgłoszono: {{ info.last_reported }} </br>
                    Komputer: {{ info.computer }}
                </p>
                <a href="delete/{{ info.last_reported|date:'Y/m/d/H/i/s' }}" class="DoinnejStrony"><span> Usuń </span></a>
             </div>
        {% endfor %}

{% endblock %}
